/* Directory Page */
h1 {
  text-align: center;
}

main section .icon-btn i {
  font-size: 2.5rem;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 5px;
  cursor: pointer;
}

main section .icon-btn i:hover {
  color: var(--text-color-light);
  background-color: var(--background-color-dark);
}

main section .icon-btn i.selected {
  background-color: var(--background-color-light);
}

main section .icon-btn i.selected:hover {
  background-color: var(--background-color-dark);
}

main section>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Grid View */
#directory-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  gap: 1rem;
}

#directory-container.grid .business-card {
  margin: 0.5rem 0;
  padding: 1rem;
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}

#directory-container.grid .business-card:hover {
  cursor: pointer;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
}

#directory-container.grid .business-card .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

#directory-container.grid .business-card img {
  width: 150px;
  height: auto;
}

/* list */
#directory-container.list {
  display: block;
}

#directory-container.list .business-card {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

#directory-container.list .business-card .logo-container {
  display: none;
}

#directory-container.list .event-item:nth-child(odd) {
  background-color: var(--background-color-light);
}
