
@media screen and (min-width: 600px) {
  #directory-container {
    grid-template-columns: 1fr 1fr;
  }

  #directory-container.list .business-card {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
    flex-wrap: wrap;
  }

  .menu {
    height: 3rem;
  }

  section {
    grid-template-columns: 1fr 1fr;
  }

  #events-container {
    grid-column: 1/3;
  }

  #business-card-container {
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr;
  }

  .join-us-main {
    grid-template-columns: 1fr 1fr;
  }

  .membership-section {
    background-color: var(--white);
  }
}

@media screen and (min-width: 1200px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header nav {
    margin-right: 1rem;
  }

  header .menu a {
    width: 10rem;
  }

  #directory-container {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 10%;
  }
  
  footer .social-media {
    text-align: center;
  }

  footer div:last-child {
    text-align: right;
  }

  section {
    grid-template-columns: 2fr 1fr 1.5fr;
  }

  #events-container {
    grid-column: 1/2;
  }
  
  #business-card-container {
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .join-us-main {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1900px){
  #directory-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1600px;
  }

  #directory-container.list {
    max-width: 1000px;
  }

  .join-us-main {
    max-width: 1600px;
    margin: 0 auto;
  }
}
