/* Site Styles - Mobile First*/

:root {
  --background-color: #9B9ECE;
  --background-color-menu: #0C0A3E;
  --background-color-ligth: #595758;
  --background-color-pending: #E4E4E4;
  --background-button: #A3A380;
  --text-color-ligth: #F2F2F2;
  --box-shadow-ligth: #f5f5f5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font-light {
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-regular {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-bold {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* Header */

header div {
display: flex;
padding: 1rem;
align-items: center;
justify-content: center;
background-color: var(--background-color);
}

header div img {
  width: 50px;
  height: 50px;
  border-radius: 25%;
  box-shadow: 1px 1px 4px var(--box-shadow-ligth);
  margin-right: 1rem;
}

header p {
  font-size: 2rem;
  margin: 0;
  color: var(--background-color-menu);
}

/* Menu  */
.menu {
  overflow: hidden;
  background-color: var(--background-color-menu);
  display: flex;
  justify-content: flex-end;
}

.menu a {
  float: left;
  display: block;
  color: var(--text-color-ligth);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 100%;
}

.menu a:hover {
  background-color: var(--background-color-ligth);
}

.menu a.active {
  background-color: var(--background-color-ligth);
}

.menu .menu-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu a {display: none;}
  .menu a.menu-icon {
    float: right;
    display: block;
  }
  .menu a{
    width: unset;
  }
}

@media screen and (max-width: 600px) {
  .menu.menu-open {position: relative;}
  .menu.menu-open .menu-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.menu-open a {
    float: none;
    display: block;
    text-align: left;
    width: unset;
  }
  .menu.menu.menu-open a:first-child {
    margin-top: 3rem;
  }
  .menu.menu-open {
    flex-direction: column;
  }
}

/* Main */

h1 {
  text-align: center;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
}

.card {
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid var(--background-color-ligth);
}

.card .card-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}


.card h2 {
  margin-top: 0;
  background-color: var(--background-color-menu);
  padding: 0.5rem;
  border-radius: 5px 5px 0 0;
  text-align: center;
  color: var(--text-color-ligth);
}

.card li {
  font-size: 1rem;
  margin-left: 2rem;
}

.card img {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.card .card-content p {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.button-container button {
  background-color: var(--background-button);
  width: 30%;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.certificate-courses {
  display: grid;
  grid-template-columns: 1fr;
}

.certificate-courses div {
  padding: 0.5rem;
  border: 1px solid var(--background-color-ligth);
  margin-top: 1rem;
  text-align: center;
  border-radius: 5px;
}

.certificate-courses div.completed {
  background-color: var(--background-color);
}

.certificate-courses div.current {
  background-color: var(--background-color-pending);
}

/* Footer */
footer {
  background-color: var(--background-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--background-color-menu);
}

footer p {
  margin: 0;
}
